<h1>Listing collections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Contact person</th>
    <th>When</th>
    <th>Venue</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Collection</th>
    <th>Is event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%= collection.name %></td>
    <td><%= collection.contact_person %></td>
    <td><%= collection.when %></td>
    <td><%= collection.venue %></td>
    <td><%= collection.city %></td>
    <td><%= collection.state %></td>
    <td><%= collection.country %></td>
    <td><%= collection.collection_id %></td>
    <td><%= collection.is_event %></td>
    <td><%= link_to 'Show', collection %></td>
    <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
    <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collection', new_collection_path %>
