<p>
  <h2><%= @collection.name %></h2><span class="when"><%= @collection.when %></span>
  <p>
      <%= @collection.formatted_location unless @collection.formatted_location.blank? %>
  </p>
  
</p>

<% unless @collection.contact_person.empty? %>
<p>
  <b>Contacts:</b>
  <%= @collection.contact_person %>
</p>
<% end %>

<% unless @collection.collection.nil? %>
<p>
  <b>Parent Collection:</b>
  <%= if @collection.collection then link_to @collection.collection.name, @collection.collection else "None" end %>
</p>
<% end %>

<p>
    <b>Actions:</b>
    <ul>
        <li><%= link_to 'New Album', new_collection_album_path(@collection) %></li>
        <li><%= link_to 'New Collection', new_collection_collection_path(@collection) %></li>
        <li><%= link_to 'Edit', edit_collection_path(@collection) %></li>
        <li><%= link_to 'Back', collections_path %></li>
    </ul>
</p>

<p>
  <b>Event?:</b>
  <%= @collection.is_event %>
</p>

<div id="child_collections">
    <header>
        <h3>Collections:</h3>
    </header>
    <% @collection.collections.each do |collection| %>
    <p><%= link_to collection.name, collection %></p>
    <% end %>
    <%= "No collections." if @collection.collections.nil? || @collection.collections.empty? %>
</div>

<div id="child_albums">
    <header>
        <h3>Albums:</h3>
    </header>
    <% @collection.albums.each do |album| %>
    <p><%= link_to album.name, album %></p>
    <% end %>
    <%= "No albums." if @collection.albums.nil? || @collection.albums.empty? %>
</div>

