<%= link_to 'Parent Collection', collection_path(@album.collection) %>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Collection:</b>
  <%= @album.collection_id %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
