<!DOCTYPE html>
<html>
<head>
  <title>Archives</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">
    <h1 id="cornell_university_glee_club_archives">Cornell University Glee Club Archives</h1>
</header>

<div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
</div>

<footer>
    &copy; 2012 Cornell University Glee Club. <%= link_to 'Contact Us', 'mailto:webmaster@gleeclub.cornell.edu' %>
</footer>

</body>
</html>
